//- options = {
//-   default: {
//-     src: '',
//-     alt: '',
//-   },
//- 
//-   sources: [
//-     {
//-       src: '',
//-       media: '',
//-       type: '',       
//-     }
//-   ],
//- 
//-   pictureClasses: '',
//-   imgClasses: '',
//- }

mixin picture(options= {})
  -
    var root = '../assets/media';
    var defaultSrc = `${root}/${options.default.src}`;
    var defaultAlt = options.default.alt || '';
    var pictureClasses = options.pictureClasses || ''; 
    var imgClasses = options.imgClasses || ''; 

  picture(class= pictureClasses)
    each source in options.sources
      -
        var media = source.media || ''; 
        var src = source.src ? `${root}${source.src}` : ''; 
        var type = source.type || ''; 

      source(media= media, srcset= src, type= type)

    img(src= defaultSrc, alt= defaultAlt, class= imgClasses, loading="lazy")
