//- options = {
//-   sources: [
//-     {
//-       src: '',
//-       type: '',
//-     }
//-   ]
//-   attrs: '',
//- }

mixin video(options= {})
  -
    var root = '../assets/media';
    var attrs = options.attrs || '';

  video(attrs)
    each source in options.sources
      -
        var src = `${root}/${options.src}`;
        var type = source.type || '';
      
      source(src= src, type= type)
    
    | Your browser does not support the video tag.
