@keyframes fadeIn {
  0% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(-8px);
  }

  100% {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
