@import '@styles/vars.scss';

html {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
  color: $defaultTextColor;
  background-color: $defaultBackgroundColor;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
}

footer {
  margin-top: auto;
}
