$defaultFontFamily                  :     Arial, sans-serif;
$defaultFontSize                    :     16px;
$defaultLineHeight                  :     140%;
$defaultTextColor                   :     #010101;
$defaultBackgroundColor             :     #fff;

$firstWidth_pad                     :     834px;
$firstWidth_desktop                 :     1440px;
$firstWidth_desktop-large           :     1920px;
$firstWidth_desktop-extra-large     :     3840px;
