$defaultFontFamily                  :     Roboto, Arial, sans-serif;
$defaultFontSize                    :     16px;
$defaultLineHeight                  :     140%;
$defaultTextColor                   :     #010101;
$defaultBackgroundColor             :     #fff;
