$firstWidth_pad: 834px;
$firstWidth_desktop: 1440px;
$firstWidth_desktop-large: 1920px;
$firstWidth_desktop-extra-large: 3840px;

@mixin media($point) {
  @if $point == from_m {
    @media only screen and (min-width: $firstWidth_pad) {
      @content;
    }
  } @else if $point == from-l {
    @media only screen and (min-width: $firstWidth_desktop) {
      @content;
    }
  } @else if $point == from-xl {
    @media only screen and (min-width: $firstWidth_desktop-large) {
      @content;
    }
  } @else if $point == from-xxl {
    @media only screen and (min-width: $firstWidth_desktop-extra-large) {
      @content;
    }
  }
}
