@mixin position-abs($top: "auto", $left: "auto", $bottom: "auto", $right: "auto", $z-index: "auto") {
  position: absolute; 
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}
